## Introduction to h2o

Source
 - Based on the h2o python booklet 
 - https://docs.h2o.ai/h2o/latest-stable/h2o-docs/booklets/PythonBooklet.pdf
 - You are recommended to read the booklet up until the Machine Learning section carefully.  You are more than welcome to read the whole booklet!
 - You are also recommended to listen to at least the first part of Amy Wang tutorial at: https://www.youtube.com/watch?v=g7drhm_SdbQ

In [ ]:
import pandas as pd
import h2o

In [ ]:
# At the time of writing (May 2020), the latest h2o version is 3.30.0.3|
print(h2o.__version__)

### Start h2o

In [ ]:
h2o.connect(ip='127.0.0.1', 
            port=54321, 
            https=False)

In [ ]:
h2o.init(ip='127.0.0.1', 
         port=54321, 
         https=False)

In [ ]:
#h2o.cluster().shutdown()

In [ ]:
dct_all = {'col1': (1, 2, 3),
           'col2': ('a', 'b', 'c'),
           'col3': (0.1, 0.2, 0.3)}

In [ ]:
dct_all['col1']

In [ ]:
df_all = pd.DataFrame(dct_all)

In [ ]:
df_all

**h2o JVM**

h2o runs on a Java Virtual Machine.  The Python h2o module allows us to send information and requests to the machine and to ask the machine for information.

We can send the information in a Pandas DataFrame to the h2o JVM with h2o.H2OFrame(df_all)

Send the data again

In [ ]:
h2o.H2OFrame(df_all)

Where is the data?

In [ ]:
h2o.ls()

In [ ]:
type(h2o.ls())

In [ ]:
h2o.ls().iloc[0][0]

In [ ]:
h2o.get_frame('type the Key_Frame...hex here')

**Delete all of our frames from the h2o JVM**

In [ ]:
df_h2o_ls = h2o.ls()
df_h2o_ls

In [ ]:
for key in df_h2o_ls['key']:
    print(key)

In [ ]:
for key in df_h2o_ls['key'].values:
    print(key)

In [ ]:
for key in df_h2o_ls['key']:
    h2o.remove(key)

In [ ]:
h2o.ls()

**Send the data to the h2o JVM and define the key**

Use h2o.H2OFrame(name of data frame, destination_frame="name in h2o")

In [ ]:
h2o.ls()

In [ ]:
# Now it is easier to get the frame
h2o.get_frame('df_all')

In [ ]:
h2o.remove('df_all')

**Send the data to the h2o JVM and create a "handle" for it in Python**

As above, but now: h2o_df_all = h2o.H2OFrame(...)

In [ ]:
h2o_df_all =

In [ ]:
type(h2o_df_all)

This "handle" points to the h2o JVM.

We can apply some methods to it and Python knows to ask the JVM to apply the method.

For example we can send a request to the JVM to tell us the shape of the data

In [ ]:
h2o_df_all.shape

In [ ]:
h2o.remove('df_all')

### Methods for h2o frames

In [ ]:
import numpy as np

In [ ]:
mat = np.random.randn(100,4)

In [ ]:
type(mat)

In [ ]:
mat[0:10, 0:4]

In [ ]:
df_all = pd.DataFrame(mat, columns=list('ABCD'))

In [ ]:
df_all.head()

Now send the data to the h2o JVM

As before with h2o_df_all = h2o.H2OFrame(...)

In [ ]:
h2o_df_all =

**head and tail methods**

Similar to Pandas - use h2o_df_all.head()

In [ ]:
# default in Pandas is 5 obs

In [ ]:
#Â and tail is the same....

**columns attribute**

Similar to Pandas

In [ ]:
df_all.columns

In [ ]:
# and .columns with h2o

And you can also use .types (similar to pandas .dtypes)

In [ ]:
# or .types

**describe method**

Similar - kind of....

In [ ]:
df_all.describe()

In [ ]:
# or describe

**select columns**

By location (integer)

In [ ]:
# try using 0 (zero) as a slice

or by column name

In [ ]:
# the column name also works, try 'A'

in Pandas you have to be a little bit more explicit...

In [ ]:
df_all[0]

In [ ]:
# rather you have to give it the location as an integer.... eg .iloc[:, 0]

Selecting multiple rows or columns is fairly obvious, eg

In [ ]:
#slice with ['A', 'B']

**Summing rows and columns**

In [ ]:
df_all.sum(axis=0)

In [ ]:
df_all.sum(axis=1)[0:10]

In [ ]:
df_all.apply(sum, axis=0)

With an anonymous function

In [ ]:
df_all.apply(lambda x: sum(x), axis=0)

Now in h2o

In [ ]:
h2o_df_all.apply(lambda thing: thing.sum(), axis=0)

In [ ]:
h2o_df_all.apply(lambda thing: thing.mean(), axis=0)

In [ ]:
h2o_df_all.apply(lambda thing: thing.mean(), axis=1)

**Missings**

In [ ]:
dct_missings = {'A': [1, 2, 3, np.nan],
                'B': [1, 2, 3, None],
                'C': ['a', 'b', 'c', 'NA'],
                'D': ['this', 'is', 'string', None]}

In [ ]:
df_missings = pd.DataFrame(dct_missings)
df_missings

In [ ]:
df_missings.loc[3, 'C']

In [ ]:
df_missings.loc[3, 'C'] == 'NA'

In [ ]:
df_missings.dtypes

In [ ]:
h2o_df_missings = h2o.H2OFrame.from_python(dct_missings,
                                           column_types=['numeric', 'numeric', 'enum', 'string'], 
                                           destination_frame="df_missings")
                                
h2o_df_missings

In [ ]:
h2o_df_missings[3, 2] == 'NA'

Note that the None value in the string column gets stored as an empty string i.e. ''

In [ ]:
h2o_df_missings[3, 3]

In [ ]:
h2o_df_missings[3, 3] == ''

isna() will find missing numbers.  But 
 - 'NA' is not missing - it is a string with the letters N and A in it...
 - The empty string we created with None does not show up with isna()

In [ ]:
h2o_df_missings.isna()

It seems that when we take oparations on columns, the default is to exclude missings....

In [ ]:
h2o_df_missings['A'].mean()

In [ ]:
# which is the same as ...
h2o_df_missings['A'].mean(na_rm=True)

In [ ]:
# but...
h2o_df_missings['A'].mean(na_rm=False)

Other h2o dataframe methods:
- .hist
- .countmatches
- .sub / .gsub
- .strsplit
- .rbind and .cbind
- .merge
- .group_by

h2o dataframe can also deal with date and time data

**Categorical data**

 - Known as "enum" data type 
 - This is the same as a "factor" in R
 - It seems that if we do not explicitly stored a column as a string, it will store it as "enum"

In [ ]:
df_enum = h2o.H2OFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three']})

In [ ]:
df_enum

In [ ]:
df_enum.types

Just as in R, we can get the levels of our factors...

In [ ]:
df_enum['A'].levels()

In [ ]:
df_enum['B'].levels()

Creating interactions

We will talk later about interactions in our models, but note the following ....

In [ ]:
df_enum.interaction(['A', 'B'], pairwise=False, max_factors=100, min_occurrence=1)

In [ ]:
df_enum.interaction(['A', 'B'], pairwise=False, max_factors=100, min_occurrence=2)

- df_all.any_factor
- is.factor() and as.factor()
- df_all[colname].levels()
- df_all.interaction(['col1','col2'], args)

In [ ]:
h2o.cluster().shutdown()